
:root {
  --blue: #007bff;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --red: #dc3545;
  --orange: #fd7e14;
  --yellow: #ffc107;
  --green: #28a745;
  --teal: #20c997;
  --cyan: #17a2b8;
  --white: #fff;
  --gray: #6c757d;
  --gray-dark: #343a40;
  --primary: #007bff;
  --secondary: #6c757d;
  --success: #28a745;
  --info: #17a2b8;
  --warning: #ffc107;
  --danger: #dc3545;
  --light: #f8f9fa;
  --dark-nav: #21242b;
  --dark-bg: #2D3038;

  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace
}





html, body {
  width: 100%;
  margin: 0;
    border: 0;
    padding: 0;
}

.bg-dark-bg{
  background-color:  var(--dark-bg);
}

.bg-dark-nav{
  background-color: var(--dark-nav);
  
}


.separator-5vw{
  width: 5vw;
}
.separator-10vw{
  width: 10vw;
}
.separator-20vw{
  width: 20vw;
}
.separator-30vw{
  width: 30vw;
}
.separator-40vw{
  width: 40vw;
}
.separator-50vw{
  width: 50vw;
}
.separator-60vw{
  width: 60vw;
}
.separator-70vw{
  width: 70vw;
}
.separator-80vw{
  width: 80vw;
}


.accordion-dark {
  background-color: var(--dark-bg);
  color: #fff;
}

.accordion-dark .accordion-header {
  background-color: var(--dark-bg);
}

.accordion-dark .accordion-button:not(.collapsed) {
  background-color: var(--dark-nav);
  color: #fff;
}

.accordion-dark .accordion-button::after {
  color: #fff;
}

.accordion-dark .accordion-button.collapsed {
  background-color: var(--dark-nav);
  color: #fff;
}

.accordion-dark .accordion-header button {
  color: #fff;
}

.accordion-dark .accordion-body {
  color: #fff;
}



