<html>

<head>
  <link rel="stylesheet" href="../css/style.css">
  <link rel="stylesheet" href="../node_modules/@fortawesome/fontawesome-free/css/all.css">
  <style>
    body {
      padding-top: 58px;
      /* Adicione um espaço no topo da página para evitar que o conteúdo fique oculto sob a navbar */
    }
  </style>
  
</head>


<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark-nav fixed-top">
    <div class="container-fluid">

      <a class="navbar-brand" href="/">
        <img src="../assets/img/icons/logo.png" alt="Logo" width="30" height="24"
          class="d-inline-block align-text-top" />
        Chess
      </a>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a id="perfil-link" class="nav-link link-navigation" aria-current="page" href="perfil">Perfil</a>
          </li>
          <li class="nav-item">
            <a id="chessBoard-link" class="nav-link link-navigation" href="jogar">Jogar</a>
          </li>
          <li class="nav-item">
            <a id="config-link" class="nav-link link-navigation" href="config">Configurações</a>
          </li>
        </ul>
      </div>





      <div class="dropdown">
        <button style="background-color: var(--bg-nav-dark); border: 0px;" class="btn btn-secondary dropdown-toggle"
          type="button" data-bs-toggle="dropdown" aria-expanded="false">
          <img src="../assets/img/perfil/perfilGTI.jpg" class="rounded-circle" height="25" alt="Avatar" loading="lazy" />
        </button>
        <ul class="dropdown-menu dropdown-menu-end">
          <li><a class="dropdown-item link-navigation" href="perfil">Perfil</a></li>
          <li><a class="dropdown-item link-navigation" href="config">Configurações</a></li>
          <li style="padding-right: 2px; padding-left: 2px;">
            <a class="dropdown-item" href="/" style="background-color: rgba(255, 74, 74, 0.199);">
              <i class="fa-solid fa-arrow-right-from-bracket"></i></i> Sair
            </a></li>
        </ul>
      </div>


    </div>
  </nav>

</body>


</html>