
:root {
  
  --blue: #007bff;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --red: #dc3545;
  --orange: #fd7e14;
  --yellow: #ffc107;
  --green: #28a745;
  --teal: #20c997;
  --cyan: #17a2b8;
  --white: #fff;
  --gray: #6c757d;
  --gray-dark: #343a40;
  --primary: #007bff;
  --secondary: #6c757d;
  --success: #28a745;
  --info: #17a2b8;
  --warning: #ffc107;
  --danger: #dc3545;
  --light: #f8f9fa;
  --dark-nav: #21242b;
  --dark-bg: #2D3038;
  --light-dark: #3E424D;

  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace
}

*{
  border-color: var(--secondary);
}


.janela-modal{
  display: none;
  width: 100%;
  height: 100%;
}

.janela-modal-registro{
  display: none;
  width: 100%;
  height: 100%;
}

.janela-modal.abrir {
  display: flex;
}
.janela-modal-registro.abrir {
  display: flex;
}

#modal {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
}

@keyframes abrirmodal {
  from{
    opacity: 0;
    transform: translate3d(0, -20px, -5px);
  }
  to {
    opacity: 1;
    transform: translate3d(0,0,0);
  }
}

u {
  user-select: none;
  cursor: pointer;
  color: #007bff;
  
}

#open-modal {
  display: flex;
  background-color: #1e3c72;
}

.modalFechar {
  padding: .6rem 1.2rem;
  background-color: #21242b;
  color: aliceblue;
  cursor: pointer;
  border-radius: 25rem;
  opacity: 0.9;
  font-size: 1rem;
}

.btnEntrar {
  height: 2.3rem;
  padding: 0.2rem;
  background-color: #2a5730;
  cursor: pointer;
  color: white;
  border-radius: 4px;
  transition: all 0.3s ease;
}
.btnRegistrar {
  margin-top: 2rem;
  height: 2.3rem;
  padding: 0.2rem;
  background-color: #2a5730;
  cursor: pointer;
  color: white;
  border-radius: 4px;
  transition: all 0.3s ease;
}

.btnEntrar h2 {
  font-size: 1.4rem;
  margin-left: 5.2rem;
}

.btnEntrar h3 {
  margin-left: 5.1rem;
}


main.container {
  background-repeat: repeat;
  background: #21242b;
  max-width: 350px;
  min-height: 40vh;
  padding: 2rem;
  box-shadow: 5px 5px 15px rgba(138, 137, 137, 0.2);
  border-radius: 8px;
}

main h2 {
  color: rgb(255, 255, 255);
  font-weight: 600;
  margin-bottom: 2rem;

}

form {
  display: flex;
  flex-direction: column;
}


.input-field {
  background-color: #21242b;
  position: relative;
}

form .input-field:first-child {
  margin-bottom: 1.5rem;
}

form .input-field:nth-child(2) {
  margin-bottom: 1.5rem;
}

form .input-field:nth-child(3) {
  margin-bottom: 1.5rem;
}




.input-field input:focus ~ .underline::after {
  transform: scaleX(1);
}

.input-field input {
  background-color: #21242b;
  outline: none;
  font-size: 1.2rem;
  color:rgba(255, 255, 255, 0.7);
}


.input-field input::placeholder {
  color:rgba(255, 255, 255, 0.5);
}


form input[type="submit"] {
  margin-top: 4rem;
  height: 2.3rem;
  padding: 0.4rem;
  background-color: #2a5730;
  cursor: pointer;
  color: white;
  font-size: 0.9rem;
  font-weight: 300;
  border-radius: 4px;
  transition: all 0.3s ease;
}

.footer {
  display: flex;
  flex-direction: column;
}

/* .footer span {
  margin-top: 1rem;
  color: rgba(255, 255, 255, 0.7);
  font-size: 0.9rem;
  text-align: center;
} */



.footer .social-field {
  border-radius: 4px !important;
  font-size: 0.85rem !important;
  width: 100% !important; 
  cursor: pointer !important;
  margin-top: 0.5rem !important;
}

.footer .sign-up {
  margin-left: 22% !important;
  margin-top: 0.7rem !important;
}

.bg-dark-bg{
  background-color:  var(--dark-bg) !important;
}

.bg-dark-nav{
  background-color: var(--dark-nav) !important;
  
}

.separator-1vw{
  width: 1vw !important;
}

.separator-2vw{
  width: 2vw !important;
}

.separator-3vw{
  width: 3vw !important;
}

.separator-5vw{
  width: 5vw !important;
}
.separator-10vw{
  width: 10vw !important;
}
.separator-20vw{
  width: 20vw !important; 
}
.separator-30vw{
  width: 30vw !important;
}
.separator-40vw{
  width: 40vw !important;
}
.separator-50vw{
  width: 50vw !important;
}
.separator-60vw{
  width: 60vw !important;
}
.separator-70vw{
  width: 70vw !important;
}
.separator-80vw{
  width: 80vw !important;
}


.accordion-dark {
  background-color: var(--dark-nav);
  color: #fff !important;
}

.accordion-dark .accordion-header {
  background-color: var(--dark-nav) !important;
}

.accordion-dark .accordion-button:not(.collapsed) {
  background-color: var(--dark-bg);
  color: #fff !important;
}

.accordion-dark .accordion-button::after {
  color: #fff !important;
}

.accordion-dark .accordion-button.collapsed {
  background-color: var(--dark-bg);
  color: #fff !important;
}

.accordion-dark .accordion-header button {
  color: #fff !important;
}

.accordion-dark .accordion-body {
  color: #fff !important;
}

.accordion-button:not(.collapsed)::after {
  background-image: url(../assets/img/perfil/collapse-accordion.png) !important;
}
.accordion-button::after {
  background-image: url(../assets/img/perfil/collapse-accordion.png) !important;
}

.accordion-body{
  max-height: 305px; overflow-y: auto !important;
}

.accordion-wrapper{
  max-height: 545px !important;
}


.bg-light-dark{
  background-color: var(--light-dark) !important;

}

.vh-80 {
  height: 80vh !important;
}
.vh-85 {
  height: 85vh !important;
}
.vh-90 {
  height: 90vh !important;
}
.vh-95 {
  height: 95vh !important;
}


.border-light-dark{
  border-color: var(--light-dark) !important;

}

.table{
  border-color: var(--light-dark) !important;
}


main{
   height: 80vh;
}


