<html>

<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous" />


    <style>
    </style>
</head>


<body>
    <footer>
        <div id="contract-area">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h3 class="main-title">Entre em contato conosco</h3>
                    </div>


                    <div class="col-md-4 contract-box">
                        <i class="fas fa-phone"></i>
                        <p><span class="contract-title">Ligue para:</span>(75) 99999-9999</p>
                        <p><span class="contract-title">Horários:</span> 8:00 - 19:00</p>
                    </div>


                    <div class="col-md-4 contract-box">
                        <i class="fas fa-envelope"></i>
                        <p><span class="contract-title">Envie um e-mail:</span> davib@edu.unifor.br</p>
                    </div>


                    <div class="col-md-4 contract-box">
                        <p><span class="contract-title">Endereço:</span> Rua algum lugar - 13000</p>
                    </div>

                    <div class="col-md-6" id="msg-box">
                        Ou nos deixe uma mensagem via discord:
                    </div>
                    <div class="col-md-6" id="contract-form">
                        <form action="">
                            <input type="email" class="form-control" placeholder="E-mail" name="email">
                            <input type="text" class="form-control" placeholder="Assunto..." name="subject">
                            <textarea class="form-control" rows="3" placeholder="Escreva sua mensagem..." name="message">
                            </textarea>
                            <input type="submit" class="main-btn" value="Enviar">
                        </form>

                    </div>


                </div>
            </div>
        </div>
    </footer>
</body>

</html>