<html>

<head>
  <style>
    body {
      padding-top: 58px;
      /* Adicione um espaço no topo da página para evitar que o conteúdo fique oculto sob a navbar */
    }
  </style>
</head>


<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark-nav fixed-top">
    <div class="container-fluid">

      <a class="navbar-brand" href="../index.html">
        <img src="../assets/img/icons/logo.png" alt="Logo" width="30" height="24"
          class="d-inline-block align-text-top" />
        Chess
      </a>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a id="perfil-link" class="nav-link" aria-current="page" href="perfil.html">Perfil</a>
          </li>
          <li class="nav-item">
            <a id="chessBoard-link" class="nav-link" href="chessBoard.html">Jogar</a>
          </li>
          <li class="nav-item">
            <a id="config-link" class="nav-link" href="config.html">Configurações</a>
          </li>
        </ul>
      </div>

      
      


      <div class="dropdown">
        <a class="dropdown-toggle d-flex align-items-center hidden-arrow" id="navbarDropdownMenuAvatar"
          role="button" data-mdb-toggle="dropdown" aria-expanded="false">
          <img src="../assets/img/perfil/perfilGTI.jpg" class="rounded-circle" height="25"
            alt="Black and White Portrait of a Man" loading="lazy" />
        </a>
        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownMenuAvatar">
          <li>
            <a class="dropdown-item" href="#">My profile</a>
          </li>
          <li>
            <a class="dropdown-item" href="#">Settings</a>
          </li>
          <li>
            <a class="dropdown-item" href="#">Logout</a>
          </li>
        </ul>
      </div>

    </div>
  </nav>
</body>


</html>