<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="../css/style.css" />
  <title>Chess</title>

  <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.min.css">

  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <link rel="stylesheet" href="../css/scrollBar.css" />

  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.7/dist/umd/popper.min.js" integrity="sha384-zYPOMqeu1DAVkHiLqWBUTcbYfZ8osu1Nd6Z89ify25QV9guujx43ITvfi12/QExE" crossorigin="anonymous"></script>

  <style>
    .square {
      width: 50px !important;
      height: 50px !important;
      display: flex;
      align-items: center;
      justify-content: center;
      /* min-height: 26px; */
    }

    .square.white {
      background-color: #828a9f;
    }

    .square.dark {
      background-color: #24272e;
    }

    #chessBoard-container{
      width: 400px !important;
      height: 400px !important;
    }

    .imgPiece{
      width: 130%;
      height: 130%;
      object-fit: contain;
      z-index: 10;
    }
  </style>
</head>
  



<body class="bg-dark-bg">

  <nav id="navbar-container"></nav>

  <div class="container-fluid">
    <div class="row m-4">
      <div class="col-6">
        <div id="chessBoard-container" class="container text-center" style="min-width: 200px; min-height: 200px;">
        </div>
      </div>

      <div class="col">
        <div style="
              margin-left: 8vw;
              width: 450px;
              height: 450px;
              background-color: #24272e;
            "></div>
      </div>
    </div>
  </div>




  <!-- =====Scripts======================================================================================= -->

  <script defer>
    //  PREENCHER O TABULEIRO !!!
    const chessBoard = document.querySelector("#chessBoard-container");
    
    for(let rows=0; rows<8; rows++){
      let row = document.createElement('div')
      row.classList.add('row')

      for(let cols=0; cols<8; cols++){
        let col = document.createElement('div')
      
        col.id = cols+"-"+(7-rows);

        if(rows%2 == 0){
          if(cols%2==0)
            col.classList.add('col', 'square', 'white')
          else
            col.classList.add('col', 'square', 'dark')

        }else{
          if(cols%2==0)
            col.classList.add('col', 'square', 'dark')
          else
            col.classList.add('col', 'square', 'white')

        }
        
        row.appendChild(col)
      }

      chessBoard.appendChild(row)
    }
  </script>

  <script>
    // ADICIONANDO PEÇAS
    for(let pawns=0; pawns<8; pawns++){
      // peões brancos
      let imgPawn1 = document.createElement('img');
      imgPawn1.classList.add('imgPiece')
      imgPawn1.src = '../assets/img/icons/pieces/pawnwhite.png';
      document.getElementById(pawns+"-1").appendChild(imgPawn1)

      //peões pretos
      let imgPawn2 = document.createElement('img');
      imgPawn2.classList.add('imgPiece')
      imgPawn2.src = '../assets/img/icons/pieces/pawndark.png';
      document.getElementById(pawns+"-6").appendChild(imgPawn2)
    }

    //reis
    let imgKing1 = document.createElement('img');
    imgKing1.classList.add('imgPiece')
    imgKing1.src = '../assets/img/icons/pieces/kingwhite.png';
    document.getElementById("4-0").appendChild(imgKing1)

    let imgKing2 = document.createElement('img');
    imgKing2.classList.add('imgPiece')
    imgKing2.src = '../assets/img/icons/pieces/kingdark.png';
    document.getElementById("4-7").appendChild(imgKing2)

    // damas
    let imgQueen1 = document.createElement('img');
    imgQueen1.classList.add('imgPiece')
    imgQueen1.src = '../assets/img/icons/pieces/queenwhite.png';
    document.getElementById("3-0").appendChild(imgQueen1)

    let imgQueen2 = document.createElement('img');
    imgQueen2.classList.add('imgPiece')
    imgQueen2.src = '../assets/img/icons/pieces/queendark.png';
    document.getElementById("3-7").appendChild(imgQueen2)


    //cavalos
    for(let i=1; i<7; i+=5){
      let imgKnight1 = document.createElement('img');
      imgKnight1.classList.add('imgPiece')
      imgKnight1.src = '../assets/img/icons/pieces/Knightwhite.png';
      document.getElementById(i+"-0").appendChild(imgKnight1)

      let imgKnight2 = document.createElement('img');
      imgKnight2.classList.add('imgPiece')
      imgKnight2.src = '../assets/img/icons/pieces/knightdark.png';
      document.getElementById(i+"-7").appendChild(imgKnight2)
    }
    

    //bispos
    for(let i=2;i<6; i+=3){
      let imgBishop1 = document.createElement('img');
      imgBishop1.classList.add('imgPiece')
      imgBishop1.src = '../assets/img/icons/pieces/bishopwhite.png';
      document.getElementById(i+"-0").appendChild(imgBishop1)

      let imgBishop2 = document.createElement('img');
      imgBishop2.classList.add('imgPiece')
      imgBishop2.src = '../assets/img/icons/pieces/bishopdark.png';
      document.getElementById(i+"-7").appendChild(imgBishop2)
    }
    

    //torres
    for(let i=0; i<8; i+=7){
      let imgRook1 = document.createElement('img');
      imgRook1.classList.add('imgPiece')
      imgRook1.src = '../assets/img/icons/pieces/rookwhite.png';
      document.getElementById(i+"-0").appendChild(imgRook1)

      let imgRook2 = document.createElement('img');
      imgRook2.classList.add('imgPiece')
      imgRook2.src = '../assets/img/icons/pieces/rookdark.png';
      document.getElementById(i+"-7").appendChild(imgRook2)
    }


    

  </script>



  
  <footer id="footer-container"></footer>

  <script src="/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>

  <script src="../scripts/navigation.js" data-nav="../components/navbar.html" data-navcontainer="navbar-container"
    data-current="chessBoard"></script>

  <script src="../scripts/load-html.js" data-load="../components/footer.html" data-element="footer-container"></script>
</body>

</html>