<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="../css/style.css" />
  <title>Chess</title>

  <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.min.css">

  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <link rel="stylesheet" href="../css/scrollBar.css" />

  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.7/dist/umd/popper.min.js"
    integrity="sha384-zYPOMqeu1DAVkHiLqWBUTcbYfZ8osu1Nd6Z89ify25QV9guujx43ITvfi12/QExE"
    crossorigin="anonymous"></script>

  <style>
    .square {
      width: 52px !important;
      height: 52px !important;
      display: flex;
      align-items: center;
      justify-content: center;
      /* min-height: 26px; */
    }

    .square.white {
      background-color: #828a9f;
    }

    .square.dark {
      background-color: #24272e;
    }

    #chessBoard-container {
      width: 416px !important;
      height: 416px !important;
    }

    .imgPiece {
      width: 130%;
      height: 130%;
      object-fit: contain;
      z-index: 10;
    }
  </style>
</head>


<body class="bg-dark-bg">
  <nav id="navbar-container"></nav>
  <main>
    <div class="janela-modal-partida" id="janela-modal-partida">
      <div id="modal-partida">
        <main class="container-result">
          <div> <div style=" margin-top: -100px; margin-left: -32px; width: 350px; height: 50px; background-color: #24272e; border-top-right-radius: 10px; border-top-left-radius: 10px;"></div> </div>
          <div><h2 style=" margin-left: -250px; margin-top: -95px;">Resultado</h2></div>

          <a style="margin-left: -215px; margin-top: -75px; font-size: 20px;">Empate!</a>
          <div><img style="width: 65px; margin-top: 40px; margin-left: -180px;" id="black" src="../assets/img/icons/pieces/pawndark.png"></div>
          <div><img style="width: 65px; margin-top: 40px; margin-left: 50px;" id="black" src="../assets/img/icons/pieces/pawnwhite.png"></div>
          <div><a id="resultado-white" style="margin-left: -100px;">0</a></div>
          <div><a id="resultado-black" style="margin-left: -210px;">0</a></div>
        </main>
      </div>
    </div>

    <div class="container-fluid">
      <div class="row m-4">
        <div class="col-6">
          <div id="chessBoard-container" class="container text-center"
            style="margin-top: 15px; min-width: 200px; min-height: 200px;">
          </div>
        </div>

        <div class="col">
          <div id="buscando-partida"
              style="margin-left: 80px; width: 450px; height: 450px; background-color: #24272e; border-radius: 10px;">
              <div id="janela">
                <div
                  style="margin-top: -85px; margin-left: 25px; width: 400px; height: 330px; background-color: #2d3039; border-radius: 10px;">
                  <div>
                    <h1 style="font-size: 35px; margin-left: 25px;">Procurando Aversário</h1>
                  </div>
                  <div
                    style="margin-left: 20px; margin-top: 15px; width: 360px; height: 260px; background-color: #24272e; border-radius: 10px;">
                    <div id="janela-buscando">
                      <div id="jogo-modal-buscando">
                        <div><img id="black" src="../assets/34338d26023e5515f6cc8969aa027bca_w200.gif"></div>
                        <div>
                          <h2>VS</h2>
                        </div>
                        <div><img id="white" src="../assets/img/icons/pieces/pawnwhite.png"></div>
                      </div>
                    </div>
                  </div>
                  <div
                    style="margin-top: 26px; width: 400px; height: 70px; padding-top: 10px; background-color: #2d3039; border-radius: 10px;">
                    <div onclick="cancelarBusca()" style="margin-top: 0px; margin-left: 75px; width: 250px; padding-top: 5px; height: 50px; background-color: #9c4141; border-radius: 10px;">
                      <div>
                        <h1 style="margin-left: 25px; font-size: 28px;">Cancelar Busca</h1>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          <div id="buscar-partida" style= "margin-left: 80px; width: 450px; height: 450px; background-color: #24272e; border-radius: 10px;">
            <div id="janela">
              <div
                style="margin-top: -85px; margin-left: 25px; width: 400px; height: 330px; background-color: #2d3039; border-radius: 10px;">
                <div>
                  <h1 style="font-size: 35px; margin-left: 35px;">Encontrar Adversário</h1>
                </div>
                <div
                  style="margin-left: 20px; margin-top: 15px; width: 360px; height: 260px; background-color: #24272e; border-radius: 10px;">
                  <div id="janela-buscar">
                    <div id="jogo-modal-buscar">
                      <div><img src="../assets/img/icons/blitz.png"></div>
                      <div><img src="../assets/img/icons/bullet.png"></div>
                      <div><img src="../assets/img/icons/rapid.png"></div>
                    </div>
                  </div>
                </div>
                <div
                  style="margin-top: 26px; width: 400px; height: 70px; padding-top: 10px; background-color: #2d3039; border-radius: 10px;">
                  <div onclick="buscar()" style="margin-top: 0px; margin-left: 75px; width: 250px; padding-top: 5px; height: 50px; background-color: #9c4141; border-radius: 10px;">
                    <div>
                      <h1 style="margin-left: 80px; font-size: 28px;">Buscar</h1>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div id="em-partida" style="margin-left: 80px; width: 450px; height: 450px; background-color: #24272e; border-radius: 10px;">
            <div id="janela">
              <div
                style="margin-top: -85px; margin-left: 25px; width: 400px; height: 330px; background-color: #2d3039; border-radius: 10px;">
                <div>
                  <h1 style="font-size: 35px; margin-left: 110px;">Em Partida</h1>
                </div>
                <div
                  style="margin-left: 20px; margin-top: 15px; width: 360px; height: 260px; background-color: #24272e; border-radius: 10px;">
                  <div id="janela-partida">
                    <div id="jogo-modal-parida">
                      <div><img id="black" src="../assets/img/icons/pieces/pawndark.png"></div>
                        <div>
                          <h2>VS</h2>
                        </div>
                        <div><img id="white" src="../assets/img/icons/pieces/pawnwhite.png"></div>
                    </div>
                  </div>
                </div>
                <div style="margin-top: 26px; width: 400px; height: 70px; padding-top: 10px; background-color: #2d3039; border-radius: 10px;">
                  <div onclick="" style="margin-top: 0px; margin-left: 15px; width: 170px; padding-top: 5px; height: 50px; border-radius: 10px;"><div style="display: flex;">
                    <img style=" margin-top: 5px; margin-left: 10px; width: 25px; height: 35px;" src="../assets/img/icons/giveup.png">
                      <h1 style="margin-top: 2px; margin-left: 10px; font-size: 28px;">Desistir</h1></div>
                  </div>
                  <div onclick="" style="margin-top: -50px; margin-left: 210px; width: 170px; padding-top: 5px; height: 50px; border-radius: 10px;"><div style="display: flex;">
                    <img style=" margin-left: 5px; width: 40px; height: 40px;" src="../assets/img/icons/draw.png">
                    <h1 style="margin-top: 2px; margin-left: 5px; font-size: 28px;">Empate</h1></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          
        </div>
      </div>
  </main>


  <!-- =====Scripts================================================= -->
  <script src="../scripts/chessboardModals.js"></script>
  <script type="module" src="../scripts/createChessboard.js"></script>

  <footer id="footer-container"></footer>

  <script src="/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="../scripts/navigation.js" data-nav="../components/navbar.html" data-navcontainer="navbar-container"
    data-current="chessBoard"></script>
  <script src="../scripts/load-html.js" data-load="../components/footer.html" data-element="footer-container"></script>

</body>

</html>