<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="../css/style.css" />
  <title>Chess</title>

  <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.min.css">
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.7/dist/umd/popper.min.js" integrity="sha384-zYPOMqeu1DAVkHiLqWBUTcbYfZ8osu1Nd6Z89ify25QV9guujx43ITvfi12/QExE" crossorigin="anonymous"></script>

  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <link rel="stylesheet" href="../css/scrollBar.css">
</head>




<body class="bg-dark-bg">

  <nav id="navbar-container"></nav>

  <div class="container">
    <div class="row">
      <label for="exampleFormControlInput1" class="form-label text-white mt-5">Alterar Email</label>
      <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="emailAtual@gmail.com">

      <label for="exampleFormControlInput1" class="form-label text-white mt-5">Alterar Senha</label>
      <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Senha atual ...">

      <div class="dropdown mt-5">
        <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
          Alterar idioma
        </button>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="#">Português</a></li>
          <li><a class="dropdown-item" href="#">Inglês</a></li>
          <li><a class="dropdown-item" href="#">Espanhol</a></li>
        </ul>
      </div>
    </div>
  </div>
  </div>

  <div class="container-fluid">
    <hr class="border border-light border-3 opacity-75 mt-5">
  </div>

  <div class="container">
    <div class="row">
      <button class="btn btn-lg btn-success btn-block mt-5">Confirmar alterações</button>
    </div>
  </div>

  <footer id="footer-container"></footer>


  

  <script src="../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>

  <script src="../scripts/navigation.js" data-nav="../components/navbar.html" data-navcontainer="navbar-container"
    data-current="config"></script>

  <script src="../scripts/load-html.js" data-load="../components/footer.html" data-element="footer-container">
  </script>

</body>

</html>