<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="css/style.css" />
  <title>Chess</title>

  <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.min.css">
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.7/dist/umd/popper.min.js"
    integrity="sha384-zYPOMqeu1DAVkHiLqWBUTcbYfZ8osu1Nd6Z89ify25QV9guujx43ITvfi12/QExE"
    crossorigin="anonymous"></script>

  <script src="/node_modules/axios/dist/axios.min.js"></script>

  <link rel="stylesheet" href="../css/scrollBar.css">
</head>



<body style="user-select: none;" class="bg-dark-bg">

  <div class="janela-modal" id="janela-modal">
    <div id="modal">
      <main class="container">
        <h2>Entrar</h2>
        <form action="">
          <div class="input-field">
            <input style="user-select: all;" type="text" name="Username" id="UsernameLogin" placeholder="Digite seu Email">
            <div class="underline"></div>
          </div>
          <div class="input-field">
            <input style="user-select: all;" type="text" name="Password" id="PasswordLogin" placeholder="Digite sua Senha">
            <div class="underline"></div>
          </div>
        </form>

        <div class="footer">
          <button type="submit" id="close-modal" onclick="logar()" class="btnEntrar">Entrar</button>
          <div class="social-fields">
            <div class="sign-up">
              <u onclick=registroModal()>
                Não possui conta?
              </u>
            </div>
          </div>
        </div>
      </main>
    </div>
  </div>

  <div class="janela-modal-registro" id="janela-modal-registro">
    <div id="modal">
      <main class="container">
        <h2>Registrar</h2>
        <form action="">
          <div class="input-field">
            <input style="user-select: all;" type="text" name="Username" id="UsernameRegister" placeholder="Digite seu Usuário">
            <div class="underline"></div>
          </div>
          <div class="input-field">
            <input style="user-select: all;" type="text" name="Email" id="EmailRegister" placeholder="Digite seu Email">
            <div class="underline"></div>
          </div>
          <div class="input-field">
            <input style="user-select: all;" type="text" name="Password" id="PasswordRegister" placeholder="Digite sua Senha">
            <div class="underline"></div>
          </div>
          <div class="input-field">
            <input style="user-select: all;" type="text" name="ConfirmPassword" id="ConfirmPasswordRegister" placeholder="Confirme sua senha">
            <div class="underline"></div>
          </div>
        </form>

        <div class="footer">
          <button type="submit" id="close-modal" onclick="registrar()" class="btnRegistrar">Registrar</button>
          <div class="social-fields">
            <div class="sign-up">
              <u onclick=loginModal()>
                já possui conta?
              </u>
            </div>
          </div>
        </div>
      </main>
    </div>
  </div>


  <nav id="navbar-container"></nav>

  <div id="msgLog" class="container-fluid"></div>


  <div class="d-flex align-items-center justify-content-center" style="height: 100vh;">
    <div class="d-flex flex-column">
      <img src="assets/img/indexImage.png" alt="Imagem" class="img-fluid">
      <button type="button" onclick="abrirModal()" class="btn btn-outline-success mt-4">Entrar</button>
    </div>
  </div>

  <footer id="footer-container"></footer>


  <script defer src="scripts/navigation.js" data-nav="components/navbar.html" data-navcontainer="navbar-container"
    data-current="home"></script>

  <script defer src="scripts/load-html.js" data-load="components/footer.html" data-element="footer-container">
  </script>

  <script defer src="scripts/modal.js"></script>

  <script src="/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>

</body>

</html>