<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="css/style.css" />
  <title>Chess</title>

  <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.min.css">
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.7/dist/umd/popper.min.js" integrity="sha384-zYPOMqeu1DAVkHiLqWBUTcbYfZ8osu1Nd6Z89ify25QV9guujx43ITvfi12/QExE" crossorigin="anonymous"></script>

  <script src="/node_modules/axios/dist/axios.min.js"></script>

  <link rel="stylesheet" href="../css/scrollBar.css">
</head>



<body class="bg-dark-bg">

  <div class="janela-modal" id="janela-modal">
    <div id="modal">
      <main class="container">
        <h2>Entrar</h2>
        <form action="">
          <div class="input-field">
            <input type="text" name="Username" id="Username" placeholder="Digite seu Usuário">
            <div class="underline"></div>
          </div>
          <div class="input-field">
            <input type="text" name="Password" id="Password" placeholder="Digite sua Senha">
            <div class="underline"></div>
          </div>

          <button id="close-modal" class="btnEntrar">Entrar</button>
        </form>

        <div class="footer">
          <span>Outros</span>
          <div class="social-fields">
            <div class="social-field Google">
              <a href="">
                <i class="fa-brands fa-google"></i>
                Entrar com Google
              </a>
            </div>
            <div class="social-field Twitter">
              <a href="#">
                <i class="fa-brands fa-twitter"></i>
                Entrar com Twitter
              </a>
            </div>
            <div class="sign-up">
              <a href="#">
                Não possui conta?

              </a>
            </div>
          </div>
        </div>
      </main>
    </div>
  </div>


  <nav id="navbar-container"></nav>


  <div class="d-flex align-items-center justify-content-center" style="height: 100vh;">
    <div class="d-flex flex-column">
      <img src="assets/img/indexImage.png" alt="Imagem" class="img-fluid">
      <button type="button" onclick="abrirModal()" class="btn btn-outline-success mt-4">Entrar</button>
    </div>

  </div>


  <footer id="footer-container"></footer>



  
  <script defer src="scripts/navigation.js" data-nav="components/navbar.html" data-navcontainer="navbar-container"
    data-current="home"></script>

  <script defer src="scripts/load-html.js" data-load="components/footer.html" data-element="footer-container">
  </script>

  <script defer src="scripts/modal.js"></script>

  <script src="/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>

</body>

</html>